.projects_collection img {
    @apply border-2 cursor-pointer transition-all duration-300 ease-out;

    box-shadow: 10px 10px 20px black;
}

.projects_collection img:hover {
    box-shadow: 25px 25px 40px black;
    transform: translateX(-2px);
}