/* STARTER COMPONENT */

.starter_main {
    width: 100%;
}

.starter_bgImg img {
    filter: brightness(50%);
}

.shadow_text {
    background-image: linear-gradient(to right, #ffcf21, #ff5500);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}